.updatePasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 45, 60);
  position: fixed;
  top: 0%;
  left: 0;
}

.updatePasswordBox {
  background-color: white;
  width: 30%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px 0;
}

.updatePasswordHeading {
  padding: 0px 20px;
  height: 35px;
  font-size: 30px;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "poppins", sans-serif;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1vmax 1vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.updatePasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updatePasswordForm > div > input {
  width: 100%;
  padding: 1vmax 4vmax;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font: 400 1.1vmax Poppins;
  outline: none;
  border-radius: 100px;
  background: #e3f0fd;
  border: none;
  color: #555;
}

.updatePasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: #555;
}

.updatePasswordBtn {
  width: 96%;
  height: 60px;
  margin: 10px 0 0 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: #f04f54;
  transition: 0.5s;
  font-family: "poppins", sans-serif;
}

.updatePasswordBtn:hover {
  background: #ec3e44;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

@media screen and (max-width: 600px) {
  .updatePasswordContainer {
    background-color: white;
    margin: 70px 0 0 0;
  }

  .updatePasswordBox {
    width: 100vw;
    height: 95vh;
  }

  .updatePasswordForm {
    padding: 2vmax;
  }

  .updatePasswordForm > div > input {
    padding: 2vmax 6vmax;
    font: 400 2vmax Poppins;
  }

  .updatePasswordForm > div > svg {
    font-size: 2.8vmax;
    padding: 0 0 0 7px;
  }

  .updatePasswordBtn {
    font: 400 2.2vmax "Poppins";
  }
}
