.speedDial {
  position: fixed;
  top: 22px;
  right: 130px;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .speedDial {
    position: fixed;
    top: 19px;
    right: 100px;
  }
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
}
