.service-content {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  margin: 40px 200px;
}

.slide-close-button img {
  filter: invert(100%) sepia(0%) saturate(3158%) hue-rotate(86deg)
    brightness(105%) contrast(100%);
}

.service-img {
  border: 1px solid #fff;
  padding: 50px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img img {
  width: 110px !important;
}

.service-detail {
  width: 50%;
  position: relative;
}

.service-detail h2 {
  color: #fff;
  font-size: 35px;
  margin-left: 30px;
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.service-detail p {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  margin-left: 30px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.service_action {
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.view_more_btn {
  width: max-content;
  display: block;
  margin: 0 5px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  padding: 12px 40px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.c_more_btn {
  width: max-content;
  display: block;
  font-size: 17px;
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.c_more_link {
  text-decoration: none;
  letter-spacing: 0.5px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .service-content {
    width: 100%;
    height: 80vh;
    margin: auto -0px;
    display: block;
  }

  .service-img {
    width: 50%;
    margin: 90px 90px;
  }

  .service-img {
    border: 1px solid #fff;
    padding: 50px;
    border-radius: 50%;
    width: 230px;
    max-width: 230px;
    height: 230px;
    max-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .service-img img {
    width: 110px !important;
  }

  .service-detail {
    width: 100%;
    margin-top: 30px;
  }

  .service-detail h2 {
    font-size: 40px;
    font-weight: 600;
    display: none;
  }

  .service-detail p {
    margin: 30px 25px;
  }

  .service_action {
    display: block;
  }

  .view_more_btn {
    width: 300px;
    margin-bottom: 10px;
  }

  .c_more_btn {
    width: 300px;
  }

  .close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .service-img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-img img {
    width: 70px !important;
  }

  .service_action {
    margin: -15px 25px;
  }

  .view_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .c_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 375px) {
  .service-img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-img img {
    width: 70px !important;
  }

  .service_action {
    margin: -15px 25px;
  }

  .view_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .c_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 425px) {
  .service-img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-img img {
    width: 70px !important;
  }

  .service_action {
    margin: -15px 25px;
  }

  .view_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .c_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .c_more_btn {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}
